/* theme/static/src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
}
